
<div class="panel affix-top" >
  <div class="panel-heading" >New Order</div>
  <div class="panel-body">

    <%= render 'form', order: @order %>

    <%= link_to 'Back', orders_path %>

  </div>
</div>